.testimonialsSection {
  padding: 4rem 1rem;
  background: var(--background);
  color: var(--foreground);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-family: var(--font-serif);
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  text-align: left;
}

.name {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--primary);
  justify-content: flex-end;
  display: flex;
}
