---
import { Button } from '@avador/ui/button/button';
import styles from './CTA.module.css';
---

<section class={styles.ctaSection}>
  <div class={styles.container}>
    <h2 class={styles.title}>¿Listo para encontrar tu aroma ideal?</h2>
    <p class={styles.subtitle}>
      Explora nuestro catálogo exclusivo y hacé que tu fragancia hable por vos.
    </p>
    <a href="/home">
      <Button variant="primary"> Ver Catálogo </Button>
    </a>
  </div>
</section>
