---
import { Button } from '@repo/ui/button/button';
import Layout from '../layout/Layout.astro';
---

<Layout>
  <h1>Avador 1842 - Encontrá tu esencia, econtrá tu aroma perfecto.</h1>
  <h2>Próximamente</h2>
  <Button>Click</Button>
</Layout>
