---
import { Button } from '@repo/ui/button/button';
import Layout from '../layout/Layout.astro';
---

<Layout>
  <h1>Avador 1842 - Encontrá tu esencia, econtrá tu aroma perfecto.</h1>
  <h2>Próximamente</h2>
  <Button variant="primary">Click</Button>
  <Button variant="secondary">Click</Button>
  <Button variant="outline">Click</Button>
  <Button variant="ghost">Click</Button>
  <Button variant="link">Click</Button>
  <Button variant="destructive">Click</Button>
</Layout>
